<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>debris.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{123,71},{41,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{153,1},{68,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{71,65},{42,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{79,1},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>publicPro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{76,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rmb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{168,71},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{48,68}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{1,59},{48,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pag.png</string>
            <key>size</key>
            <string>{210,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:788d9924b1e22daf7eda195177785431:28b39fdd7b33e36bca36cd8a52e9c6c3:7bfa410a95a3731d6938bd443a3bc283$</string>
            <key>textureFileName</key>
            <string>pag.png</string>
        </dict>
    </dict>
</plist>
